@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  color: initial;
  font-family: "Oswald", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapper {
  width: 100%;
  max-width: 1200px;
}

.header {
  position: sticky;
  top: 0px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border-bottom: 1px solid gray;
  max-height: 200px;
  transition: 0.2s;
  background-color: white;
  z-index: 5;
}
.header .header__head {
  display: flex;
  align-items: center;
  gap: 5px;
  grid-column: 1/span 2;
}
.header .header__head .header__logo {
  width: 60px;
}
.header .header__head .header__title {
  font-size: 27px;
  font-style: italic;
  color: rgb(0, 200, 255);
}
.header .header__form {
  position: relative;
  width: 100%;
  max-width: 400px;
  order: 3;
  justify-self: center;
  grid-column: 1/span 3;
}
.header .header__form .header__search {
  padding: 5px 30px 5px 10px;
  width: 100%;
  height: 45px;
  border: none;
  border-bottom: 2px solid black;
}
.header .header__form .header__search:focus {
  outline: none;
  border-bottom: 2px solid rgb(0, 200, 255);
}
.header .header__login {
  justify-self: end;
  border-left: 2px dashed rgb(0, 200, 255);
  padding-left: 10px;
  font-size: 17px;
  font-weight: 500;
  transition: 0.2s;
  cursor: pointer;
}
.header .header__login:hover {
  color: rgb(0, 200, 255);
}
.header .header__nav {
  display: flex;
  justify-content: center;
  gap: 15px;
  grid-column: 1/span 3;
  order: 4;
}
.header .header__nav .header__category {
  padding-bottom: 3px;
  border-bottom: 2px solid rgb(0, 200, 255);
  transition: 0.2s;
}
.header .header__nav .header__category:hover {
  color: rgb(0, 200, 255);
}
.header .header__user {
  display: flex;
  align-items: center;
  gap: 10px;
  order: 2;
  justify-self: flex-end;
}
.header .header__user .header__avatar {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50px;
}

.header__button {
  position: absolute;
  right: 8px;
  top: 10px;
  background-color: transparent;
  color: rgb(0, 200, 255);
  border: none;
  cursor: pointer;
}

.header__button--close {
  font-size: 25px !important;
}

.search {
  display: none;
  padding: 10px;
  position: fixed;
  width: 100%;
  background-color: white;
  left: 0px;
  top: 140px;
  height: 100%;
  z-index: 5;
}
.search .search__wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0px 10px 0px 10px;
  overflow: auto;
  max-height: 600px;
  width: 100%;
}
.search .search__wrapper .search__header {
  padding: 0px 20px 2px 0px;
  border-bottom: 2px solid rgb(0, 200, 255);
  width: fit-content;
  font-size: 18px;
}
.search .search__wrapper .search__results {
  display: flex;
  flex-direction: column;
  margin: 0px 10px 0px 10px;
}
.search .search__wrapper .search__results .search__result {
  display: flex;
  margin-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  border-bottom: 1px solid black;
}
.search .search__wrapper .search__results .search__result .result__image {
  width: 80px;
  height: 120px;
  object-fit: cover;
}
.search .search__wrapper .search__results .search__result .result__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 10px 0px 10px;
  width: 100%;
}
.search .search__wrapper .search__results .search__result .result__info .result__title {
  font-size: 16px;
  font-weight: bold;
}
.search .search__wrapper .search__results .search__result .result__info .result__bottom {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.search .search__wrapper .search__results .search__result .result__info .result__bottom .result__stats {
  display: flex;
  gap: 10px;
}
.search .search__wrapper .search__results .search__result .result__info .result__bottom .result__stats .result__stat {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.search .search__wrapper .search__results .search__result .result__info .result__bottom .result__stats .result__stat .result__icon {
  font-variation-settings: "FILL" 1;
  font-size: 18px;
  color: rgb(0, 200, 255);
}
.search .search__wrapper .search__results .search__result .result__info .result__bottom .result__stats .result__stat .result__rating {
  font-size: 14px;
}
.search .search__wrapper .search__results .search__result .result__info .result__bottom .result__author {
  font-size: 15px;
  border-bottom: 2px dashed rgb(0, 200, 255);
  padding-bottom: 3px;
  align-self: end;
}
.search .search__wrapper .search__results .search__result.user {
  align-items: center;
  gap: 10px;
}
.search .search__wrapper .search__results .search__result.user .result__image {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.search .search__wrapper .search__results .search__result.user .result__info {
  gap: 5px;
  padding: 0px;
}

.search.show {
  display: flex;
}

.header.active {
  max-height: 80px;
  overflow: hidden;
}

@media only screen and (min-width: 768px) {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    z-index: 6;
  }
  .header .header__form {
    order: 3;
  }
  .header .header__login {
    order: 4;
  }
  .header .header__nav {
    order: 2;
  }
  .header .header__user {
    order: 4;
  }
  .header.active {
    max-height: initial;
    overflow: initial;
  }
  .search {
    justify-content: center;
    top: 0px;
    padding: 0px;
    background-color: rgba(0, 0, 0, 0.2);
  }
  .search .search__wrapper {
    position: relative;
    top: 81px;
    justify-content: center;
    gap: 100px;
    flex-direction: row;
    margin: 0px;
    padding: 0px 10px 0px 10px;
    background-color: white;
    max-width: 1200px;
    width: 100%;
    height: fit-content;
  }
  .search .search__wrapper .search__results {
    width: 300px;
  }
  .search .search__wrapper .search__results .search__header {
    padding-top: 10px;
  }
  .search .search__wrapper .search__results .search__result:nth-last-child(-n+1) {
    margin-bottom: 10px;
  }
}
.footer {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid black;
  width: 100%;
  padding: 10px 10px 10px 10px;
  user-select: none;
}
.footer .footer__author:hover {
  transition: 0.2s;
  color: rgb(0, 200, 255);
}
.footer .footer__library {
  justify-self: center;
}

.list {
  display: flex;
  justify-content: center;
  gap: 15px;
  font-size: 17px;
  padding: 5px;
}
.list .list__option {
  border-bottom: 2px solid rgb(0, 200, 255);
  padding-bottom: 2px;
  transition: 0.2s;
}
.list .list__option.active {
  color: rgb(0, 200, 255);
}
.list .list__option:hover {
  color: rgb(0, 200, 255);
}

.add {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 10px 0px 10px 0px;
}
.add .add__button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 200, 255);
  color: white;
  width: 100px;
  height: 40px;
  transition: 0.2s;
  user-select: none;
}
.add .add__button:hover {
  background-color: rgba(0, 200, 255, 0.5);
  color: white;
}
.add .add__button:focus {
  background-color: white;
  color: rgb(0, 200, 255);
}

.table {
  width: 100%;
  text-align: center;
  gap: 20px;
  border: 1px solid black;
  margin: 10px 0px 10px 0px;
}
.table .table__headers .table__head {
  user-select: none;
  transition: 0.2s;
  cursor: pointer;
}
.table .table__headers .table__head:hover {
  background-color: rgba(0, 200, 255, 0.2);
}
.table .table__headers .table__head:active {
  background-color: rgb(0, 200, 255);
}
.table th, .table td {
  padding: 5px;
  border: 1px solid black;
}
.table .table__cell {
  display: flex;
  justify-content: center;
  gap: 5px;
}
.table .table__edit:hover {
  transition: 0.2s;
  color: rgb(0, 200, 255);
}

.pagination {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 10px 0px 10px 10px;
}
.pagination .pagination__page {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(0, 200, 255);
  width: 30px;
  height: 30px;
}
.pagination .pagination__page.active {
  background-color: rgb(0, 200, 255);
  color: white;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 25px 100px 25px 100px;
}
.form .form__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px 5px 0px;
  border-bottom: 2px solid rgb(0, 200, 255);
}
.form .form__header .form__back {
  transition: 0.2s;
}
.form .form__header .form__back:hover {
  color: rgb(0, 200, 255);
}
.form .form__delete {
  background-color: rgba(255, 0, 0, 0.5);
  width: fit-content;
  padding: 10px;
  border-radius: 10px;
  transition: 0.2s;
}
.form .form__delete:hover {
  background-color: red;
}
.form .form__add {
  display: flex;
  align-items: center;
  gap: 20px;
}
.form .form__add .form__add {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 200, 255);
  color: white;
  height: 40px;
  width: 100px;
  transition: 0.2s;
}
.form .form__add .form__add:hover {
  color: rgb(0, 200, 255);
  background-color: white;
}
.form .form__input {
  width: 300px;
  height: 40px;
  padding: 5px;
  font-size: 18px;
}
.form .form__input--file {
  text-align: center;
  background-color: rgb(0, 200, 255);
  color: white;
  transition: 0.2s;
  cursor: pointer;
}
.form .form__input--file:hover {
  color: rgb(0, 200, 255);
  background-color: white;
}
.form input[type=file] {
  display: none;
}
.form .form__input.area {
  width: 500px;
  height: 250px;
}
