@import "Shared/_header.scss";
@import "Shared/_footer.scss";
@import "Shared/_form.scss";
.join {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 60px;
    background: url("../Images/new_account.png"), repeat;
    background-size: 200px;
    padding: 10px;
    height: 600px;
    user-select: none;

    .join__us {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: fit-content;
        gap: 10px;
        background-color: white;
        padding: 10px;
        box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 1);

        .join__title {
            color: $color;
            border-bottom: 2px solid black;
        }

        .join__description {
        }

        .join__button {
            padding: 10px;
            border: none;
            background-color: $color;
            color: white;
            font-size: 17px;
            transition: .2s;
            cursor: pointer;
        }

            .join__button:hover {
                background-color: white;
                color: $color;
            }
    }

    .join__reviews {
        position: relative;

        .join__review {
            position: relative;
            display: none;
            flex-direction: column;
            align-items: center;
            background-color: white;
            max-width: 400px;
            height:260px;
            padding: 5px;
            box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 1);
            transition: .4s;
            opacity: 0;
            transform:scale(.8);
            .join__image {
                position: absolute;
                top: -40px;
                width: 60px;
                height: 60px;
                object-fit: cover;
                border-radius: 50px;
                border: 2px dashed $color;
                padding: 2px;
                background-color: white;
            }

            .join__author {
                margin-top: 20px;
                border-bottom: 1px solid $color;
                padding-bottom: 2px;
                font-size: 18px;
                font-weight: 500;
            }

            .join__description {
                text-align: center;
                padding: 10px;
            }

            .join__bottom {
                display: flex;
                align-items: center;
                gap: 10px;
                border-top: 2px dashed $color;

                .join__logo {
                    width: 60px;
                }

                .join__site {
                    font-size: 20px;
                    color: $color;
                    font-weight: bold;
                    font-style: italic;
                }
            }
        }

            .join__review.show {
                display: flex;
                z-index: 1;
                opacity: 1;
                transform:initial;
            }

            .join__review.left {
                top: 0px;
                position: absolute;
                display: flex;
                transform: translate(-50px, 0px) scale(.8);
                z-index: 0;
                opacity: 1;
            }

            .join__review.right {
                top: 0px;
                position: absolute;
                display: flex;
                transform: translate(50px, 0px) scale(.8);
                z-index: 0;
                 opacity:1;
            }

        .join__buttons {
            display: flex;
            justify-content: space-between;

            .join__button {
                font-size: 50px;
                background-color: transparent;
                border: none;
                z-index: 3;
                cursor: pointer;
                transition: .2s;
            }

                .join__button.hide {
                    visibility: hidden;
                }
        }

        .join__button:hover {
            background-color: rgba($color, .2);
        }
    }
}
.join--profile {
    .join__profile {
        display: flex;
        align-items: center;
        flex-direction: column;
        background-color: white;
        padding: 20px;
        gap: 20px;
        box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 1);

        .join__header {
            display: flex;
            align-items: center;
            gap: 20px;

            .join__picture {
                width: 70px;
                height: 70px;
                object-fit: cover;
                border-radius: 50%;
            }

            .join__panel {
                display: flex;
                flex-direction: column;

                .join__username {
                    font-size: 20px;
                    font-weight: bold;
                }

                .join__stats {
                    display: flex;
                    gap: 10px;

                    .join__stat {
                        display: flex;
                        align-items: center;
                        flex-direction: column;
                        gap: 2px;

                        .join__desc {
                            border-top: 1px dashed $color;
                            font-size: 15px;
                        }
                    }
                }
            }
        }
    }

    .join__nav {
        display: flex;

        .join__item {
            display: flex;
            justify-content: center;
            align-items: center;
            border-bottom: 2px solid black;
            padding: 0px 10px 5px 10px;
            transition: .2s;
            cursor: pointer;
        }

            .join__item:hover {
                color: $color;
            }

            .join__item.active {
                border-bottom: 2px solid $color;
            }
    }

    .join__main {
        display: flex;
        justify-content: start;
        width: 100%;

        .join__data {
            display: none;
            justify-content: center;
            width: 100%;
            gap: 10px;
            max-width: 420px;
            flex-wrap: wrap;
            max-height:300px;
            overflow:auto;
            .join__user {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 10px;

                .join__avatar {
                    width: 50px;
                    height: 50px;
                    border-radius: 50px;
                    object-fit: cover;
                }
            }

                .join__user:hover .join__nick {
                    transition: .2s;
                    color: $color;
                }

            .join__cover {
                width: 70px;
                transition: .2s;
            }

            .join__leased {
                display:flex;
                align-items:center;
                justify-content:space-between;
                width:100%;
                transition:.2s;
                padding: 2px 10px 2px 0px;
                .join__cover--leased {
                    width: 50px;
                }
            }
            .join__leased:hover {
                background-color:rgba(black, .1);
            }

            .join__cover:hover {
                opacity: .8;
            }
        }

            .join__data.show {
                display: flex;
            }
    }
}

.section {
    padding: 10px;

    .section__notFound {
        font-size:20px;
    }
    .section__header {
        display: flex;
        justify-content: space-between;
        align-self: flex-start;
        width: 100%;
        align-items: center;
        border-bottom: 1px solid $color;

        .section__head {
            padding-left: 5px;
        }

        .section__more {
            padding: 0px 5px 0px 10px;
            border-left: 1px solid black;
            transition: .2s;
        }

            .section__more:hover {
                color: $color;
            }
    }

    .section__books {
        display: flex;
        gap: 10px;
        padding: 20px 0px 10px 0px;
        overflow: auto;

        .section__book {
            display: flex;
            flex-direction: column;
            justify-content: center;
            max-width: 160px;
            transition: .2s;

            .section__bookHeader {
                position: relative;

                .section__cover {
                    height: 230px;
                    width:150px;
                    object-fit: cover;
                }

                .section__rating {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    width: fit-content;
                    background-color: $color;
                    padding: 5px;
                    position: absolute;
                    bottom: -5px;
                    right: 0px;

                    .section__star {
                        color: gold;
                        font-variation-settings: 'FILL' 1;
                    }

                    .section__star {
                        font-size: 20px;
                    }

                    .section__rate {
                        font-size: 15px;
                    }
                }
            }

            .section__title {
                padding: 10px 0px 0px 8px;
                font-size: 16px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                font-weight: 500;
                max-width: 160px;
            }

            .section__author {
                padding: 10px 8px 3px 5px;
                align-self: flex-end;
                font-size: 14px;
                border-bottom: 1px solid $color;
            }
        }

            .section__book:hover {
                transform: translateY(-10px);
            }
    }

    .section__reviews {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px 0px 10px 0px;
        gap: 20px;
        overflow: auto;

        .section__review {
            display: flex;
            align-items: center;
            flex-direction: column;
            flex-shrink: 0;
            gap: 5px;
            width: fit-content;
            user-select: none;
            border-bottom: 1px solid black;
            padding-bottom: 10px;
            width: 300px;
            height: 380px;
            justify-content:center;

            .section__avatar {
                width: 70px;
                height: 70px;
                border-radius: 50px;
                object-fit: cover;
            }

            .section__name {
                font-size: 17px;
                font-weight: bold;
                transition: .2s;
            }

                .section__name:hover {
                    color: $color;
                }

            .section__bookName {
                border-top: 1px solid $color;
                border-bottom: 1px solid $color;
                padding: 5px 0px 5px 0px;
                font-size: 15px;
                transition: .2s;
            }

                .section__bookName:hover {
                    color: $color;
                }

            .section__text {
                text-align: center;
                max-width: 300px;
            }

            .section__footer {
                border-top: 1px solid $color;
                padding: 0px 5px 0px 5px;

                .section__rating {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding-top: 5px;

                    .section__star {
                        color: gold;
                        font-variation-settings: 'FILL' 1;
                    }
                }
            }
        }
    }

    .section__categories {
        display: grid;
        align-content: center;
        gap: 10px;
        padding: 20px 0px 0px 0px;

        .section__category {
            font-size: 18px;
            padding: 10px;
            border-bottom: 1px solid $color;
            box-shadow: 0px 3px 9px -3px rgba(0, 0, 0, 1);
            background-color: white;
            transition: .2s;
        }

            .section__category:hover {
                transform: translateY(-10px);
            }
    }
}


    @media only screen and (min-width: 768px) {
        .join {
            flex-direction: row;
            justify-content: space-evenly;

            .join__us {
                order: 2;
            }

            .join__reviews {
                order: 1;

                .join__review.left {
                    transform: translate(-100px, 0px) scale(.8);
                    z-index: 0;
                }

                .join__review.right {
                    transform: translate(100px, 0px) scale(.8);
                    z-index: 0;
                }
            }
        }
        .section--reviews {
            .section__reviews {
                flex-direction: row;

                .section__review {
                    border:none;
                    border-left: 1px solid black;
                    padding-left:10px;
                }
                .section__review:nth-child(1) {
                    border:none;
                }
            }
        }
        .section__categories {
            justify-content: center;
            grid-template-columns: 200px 200px 200px;
            gap: 20px !important;

            .section__category {
                width: 100%;
                text-align: center;
                box-shadow: 0px 3px 9px -3px rgba(0, 0, 0, 1);
            }
        }
    }