@model List<BookModel>;
@{
    ViewData["Title"] = "Main";
}
<main class="main">
    <section class="join">
        <div class="join__us">
            <h1 class="join__title">Join us!</h1>
            <span class="join__description">Join to our family and be with our library!</span>
            <button class="join__button">Join us</button>
        </div>
        <div class="join__reviews">
            <div class="join__review">
                <img src="https://img.freepik.com/free-photo/beauty-portrait-female-face_93675-132046.jpg?semt=ais_hybrid&w=740&q=80" class="join__image" />
                <span class="join__author">Jan Brzechwa</span>
                <p class="join__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus et tempor justo. Nam vel varius nisi. Suspendisse vel leo lobortis, placerat nulla non, imperdiet elit. Donec feugiat elit nisi, vel ornare turpis mattis sit amet. Integer lectus mauris, vehicula sed ultrices ac, fermentum non tellus. Nullam lobortis, odio sed mattis.</p>
                <div class="join__bottom">
                    <img class="join__logo" src="~/favicon.webp"/>
                    <span class="join__site">Library</span>
                </div>

            </div>
        </div>
    </section>
</main>
<script src="~/js/index.js" asp-append-version="true" defer></script>
<script src="~/js/Search.js" asp-append-version="true" defer></script>