@model List<BookModel>;
@{
    ViewData["Title"] = "Main";
}
<main class="main">
  @*   <section class="join">
        <div class="join__us">
            <h1 class="join__title">Join us!</h1>
            <span class="join__description">Join to our family and be with our library!</span>
            <button class="join__button">Join us</button>
        </div>
        <div class="join__reviews">
            <div class="join__review left">
                <img src="https://img.freepik.com/free-photo/beauty-portrait-female-face_93675-132046.jpg?semt=ais_hybrid&w=740&q=80" class="join__image" />
                <span class="join__author">Jan Brzechwa</span>
                <p class="join__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus et tempor justo. Nam vel varius nisi. Suspendisse vel leo lobortis, placerat nulla non, imperdiet elit. Donec feugiat elit nisi, vel ornare turpis mattis sit amet. Integer lectus mauris, vehicula sed ultrices ac, fermentum non tellus. Nullam lobortis, odio sed mattis.</p>
                <div class="join__bottom">
                    <img class="join__logo" src="~/favicon.webp" />
                    <span class="join__site">Library</span>
                </div>
            </div>
            <div class="join__review show">
                <img src="https://img.freepik.com/free-photo/beauty-portrait-female-face_93675-132046.jpg?semt=ais_hybrid&w=740&q=80" class="join__image" />
                <span class="join__author">Jan Brzechwa</span>
                <p class="join__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus et tempor justo. Nam vel varius nisi. Suspendisse vel leo lobortis, placerat nulla non, imperdiet elit. Donec feugiat elit nisi, vel ornare turpis mattis sit amet. Integer lectus mauris, vehicula sed ultrices ac, fermentum non tellus. Nullam lobortis, odio sed mattis.</p>
                <div class="join__bottom">
                    <img class="join__logo" src="~/favicon.webp"/>
                    <span class="join__site">Library</span>
                </div>
            </div>
            <div class="join__review right">
                <img src="https://img.freepik.com/free-photo/beauty-portrait-female-face_93675-132046.jpg?semt=ais_hybrid&w=740&q=80" class="join__image" />
                <span class="join__author">Jan Brzechwa</span>
                <p class="join__description">Lorem ipsum dolor ssdsdit amet, consectetur adipiscing elit. Vivamus et tempor justo. Nam vel varius nisi. Suspendisse vel leo lobortis, placerat nulla non, imperdiet elit. Donec feugiat elit nisi, vel ornare turpis mattis sit amet. Integer lectus mauris, vehicula sed ultrices ac, fermentum non tellus. Nullam lobortis, odio sed mattis.</p>
                <div class="join__bottom">
                    <img class="join__logo" src="~/favicon.webp" />
                    <span class="join__site">Library</span>
                </div>
            </div>
            <div class="join__review">
                <img src="https://img.freepik.com/free-photo/beauty-portrait-female-face_93675-132046.jpg?semt=ais_hybrid&w=740&q=80" class="join__image" />
                <span class="join__author">Jan Brzechwa</span>
                <p class="join__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus et tempor justo. Nam vel varius nisi. Suspendisse vel leo lobortis, placerat nulla non, imperdiet elit. Donec feugiat elit nisi, vel ornare turpis mattis sit amet. Integer lectus mauris, vehicula sed ultrices ac, fermentum non tellus. Nullam lobortis, odio sed mattis.</p>
                <div class="join__bottom">
                    <img class="join__logo" src="~/favicon.webp" />
                    <span class="join__site">Library</span>
                </div>
            </div>
            <div class="join__review">
                <img src="https://img.freepik.com/free-photo/beauty-portrait-female-face_93675-132046.jpg?semt=ais_hybrid&w=740&q=80" class="join__image" />
                <span class="join__author">Jan Brzechwa</span>
                <p class="join__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus et tempor justo. Nam vel varius nisi. Suspendisse vel leo lobortis, placerat nulla non, imperdiet elit. Donec feugiat elit nisi, vel ornare turpis mattis sit amet. Integer lectus mauris, vehicula sed ultrices ac, fermentum non tellus. Nullam lobortis, odio sed mattis.</p>
                <div class="join__bottom">
                    <img class="join__logo" src="~/favicon.webp" />
                    <span class="join__site">Library</span>
                </div>
            </div>
            <div class="join__review">
                <img src="https://img.freepik.com/free-photo/beauty-portrait-female-face_93675-132046.jpg?semt=ais_hybrid&w=740&q=80" class="join__image" />
                <span class="join__author">Jan Brzechwa</span>
                <p class="join__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus et tempor justo. Nam vel varius nisi. Suspendisse vel leo lobortis, placerat nulla non, imperdiet elit. Donec feugiat elit nisi, vel ornare turpis mattis sit amet. Integer lectus mauris, vehicula sed ultrices ac, fermentum non tellus. Nullam lobortis, odio sed mattis.</p>
                <div class="join__bottom">
                    <img class="join__logo" src="~/favicon.webp" />
                    <span class="join__site">Library</span>
                </div>
            </div>
            <div class="join__buttons">
                <span class="material-symbols-outlined join__button join__button--left">arrow_left_alt</span>
                <span class="material-symbols-outlined join__button join__button--right">arrow_right_alt</span>
            </div>
        </div>
    </section> *@
    <section class="join join--profile">
        <div class="join__profile">
            <div class="join__header">
                <img class="join__picture" src="https://media.istockphoto.com/id/1471725712/pl/zdj%C4%99cie/u%C5%9Bmiechni%C4%99ta-m%C5%82oda-kobieta-robi%C4%85ca-selfie-podczas-relaksu-w-domu.jpg?s=612x612&w=0&k=20&c=DpwCipMQ1I0jIfSkyjlgvxhpwNvzP37-UrAwswLjClQ=" />
                <div class="join__panel">
                    <span class="join__username">Anna Zalewska</span>
                    <div class="join__stats">
                        <div class="join__stat">
                            <span>20</span>
                            <span class="join__desc">Followers</span>
                        </div>
                        <div class="join__stat">
                            <span>20</span>
                            <span class="join__desc">Followed</span>
                        </div>
                    </div>
                </div>
            </div>
            <ul class="join__nav">
                <li data-window = "followers" class="join__item active">Followers</li>
                <li data-window = "followed" class="join__item">Followed</li>
                <li data-window = "books" class="join__item">Favourite books</li>
                <li data-window = "leased" class="join__item">Leased Books</li>
            </ul>
            <div class="join__main">
                <div data-window = "followers" class="join__data show">
                    <a class="join__user" href="#">
                        <img class="join__avatar" src="https://media.istockphoto.com/id/1471725712/pl/zdj%C4%99cie/u%C5%9Bmiechni%C4%99ta-m%C5%82oda-kobieta-robi%C4%85ca-selfie-podczas-relaksu-w-domu.jpg?s=612x612&w=0&k=20&c=DpwCipMQ1I0jIfSkyjlgvxhpwNvzP37-UrAwswLjClQ=" />
                        <span class="join__nick">Chinaski</span>
                    </a>
                    <a class="join__user" href="#">
                        <img class="join__avatar" src="https://media.istockphoto.com/id/1471725712/pl/zdj%C4%99cie/u%C5%9Bmiechni%C4%99ta-m%C5%82oda-kobieta-robi%C4%85ca-selfie-podczas-relaksu-w-domu.jpg?s=612x612&w=0&k=20&c=DpwCipMQ1I0jIfSkyjlgvxhpwNvzP37-UrAwswLjClQ=" />
                        <span class="join__nick">Chinaski</span>
                    </a>
                    <a class="join__user" href="#">
                        <img class="join__avatar" src="https://media.istockphoto.com/id/1471725712/pl/zdj%C4%99cie/u%C5%9Bmiechni%C4%99ta-m%C5%82oda-kobieta-robi%C4%85ca-selfie-podczas-relaksu-w-domu.jpg?s=612x612&w=0&k=20&c=DpwCipMQ1I0jIfSkyjlgvxhpwNvzP37-UrAwswLjClQ=" />
                        <span class="join__nick">Chinaski</span>
                    </a>
                    <a class="join__user" href="#">
                        <img class="join__avatar" src="https://media.istockphoto.com/id/1471725712/pl/zdj%C4%99cie/u%C5%9Bmiechni%C4%99ta-m%C5%82oda-kobieta-robi%C4%85ca-selfie-podczas-relaksu-w-domu.jpg?s=612x612&w=0&k=20&c=DpwCipMQ1I0jIfSkyjlgvxhpwNvzP37-UrAwswLjClQ="/>
                        <span class="join__nick">Chinaski</span>
                    </a>
                    <a class="join__user" href="#">
                        <img class="join__avatar" src="https://media.istockphoto.com/id/1471725712/pl/zdj%C4%99cie/u%C5%9Bmiechni%C4%99ta-m%C5%82oda-kobieta-robi%C4%85ca-selfie-podczas-relaksu-w-domu.jpg?s=612x612&w=0&k=20&c=DpwCipMQ1I0jIfSkyjlgvxhpwNvzP37-UrAwswLjClQ="/>
                        <span class="join__nick">Chinaski</span>
                    </a>
                    <a class="join__user" href="#">
                        <img class="join__avatar" src="https://media.istockphoto.com/id/1471725712/pl/zdj%C4%99cie/u%C5%9Bmiechni%C4%99ta-m%C5%82oda-kobieta-robi%C4%85ca-selfie-podczas-relaksu-w-domu.jpg?s=612x612&w=0&k=20&c=DpwCipMQ1I0jIfSkyjlgvxhpwNvzP37-UrAwswLjClQ="/>
                        <span class="join__nick">Chinaski</span>
                    </a>
                    <a class="join__user" href="#">
                        <img class="join__avatar" src="https://media.istockphoto.com/id/1471725712/pl/zdj%C4%99cie/u%C5%9Bmiechni%C4%99ta-m%C5%82oda-kobieta-robi%C4%85ca-selfie-podczas-relaksu-w-domu.jpg?s=612x612&w=0&k=20&c=DpwCipMQ1I0jIfSkyjlgvxhpwNvzP37-UrAwswLjClQ=" />
                        <span class="join__nick">Chinaski</span>
                    </a>
                </div>
                <div data-window = "followed" class="join__data">
                    <a class="join__user" href="#">
                        <img class="join__avatar" src="https://media.istockphoto.com/id/1471725712/pl/zdj%C4%99cie/u%C5%9Bmiechni%C4%99ta-m%C5%82oda-kobieta-robi%C4%85ca-selfie-podczas-relaksu-w-domu.jpg?s=612x612&w=0&k=20&c=DpwCipMQ1I0jIfSkyjlgvxhpwNvzP37-UrAwswLjClQ=" />
                        <span class="join__nick">Chinaski</span>
                    </a>

                    <a class="join__user" href="#">
                        <img class="join__avatar" src="https://media.istockphoto.com/id/1471725712/pl/zdj%C4%99cie/u%C5%9Bmiechni%C4%99ta-m%C5%82oda-kobieta-robi%C4%85ca-selfie-podczas-relaksu-w-domu.jpg?s=612x612&w=0&k=20&c=DpwCipMQ1I0jIfSkyjlgvxhpwNvzP37-UrAwswLjClQ=" />
                        <span class="join__nick">Chinaski</span>
                    </a>
                    <a class="join__user" href="#">
                        <img class="join__avatar" src="https://media.istockphoto.com/id/1471725712/pl/zdj%C4%99cie/u%C5%9Bmiechni%C4%99ta-m%C5%82oda-kobieta-robi%C4%85ca-selfie-podczas-relaksu-w-domu.jpg?s=612x612&w=0&k=20&c=DpwCipMQ1I0jIfSkyjlgvxhpwNvzP37-UrAwswLjClQ=" />
                        <span class="join__nick">Chinaski</span>
                    </a>
                    <a class="join__user" href="#">
                        <img class="join__avatar" src="https://media.istockphoto.com/id/1471725712/pl/zdj%C4%99cie/u%C5%9Bmiechni%C4%99ta-m%C5%82oda-kobieta-robi%C4%85ca-selfie-podczas-relaksu-w-domu.jpg?s=612x612&w=0&k=20&c=DpwCipMQ1I0jIfSkyjlgvxhpwNvzP37-UrAwswLjClQ=" />
                        <span class="join__nick">Chinaski</span>
                    </a>
                    <a class="join__user" href="#">
                        <img class="join__avatar" src="https://media.istockphoto.com/id/1471725712/pl/zdj%C4%99cie/u%C5%9Bmiechni%C4%99ta-m%C5%82oda-kobieta-robi%C4%85ca-selfie-podczas-relaksu-w-domu.jpg?s=612x612&w=0&k=20&c=DpwCipMQ1I0jIfSkyjlgvxhpwNvzP37-UrAwswLjClQ=" />
                        <span class="join__nick">Chinaski</span>
                    </a>
                    <a class="join__user" href="#">
                        <img class="join__avatar" src="https://media.istockphoto.com/id/1471725712/pl/zdj%C4%99cie/u%C5%9Bmiechni%C4%99ta-m%C5%82oda-kobieta-robi%C4%85ca-selfie-podczas-relaksu-w-domu.jpg?s=612x612&w=0&k=20&c=DpwCipMQ1I0jIfSkyjlgvxhpwNvzP37-UrAwswLjClQ=" />
                        <span class="join__nick">Chinaski</span>
                    </a>
                    <a class="join__user" href="#">
                        <img class="join__avatar" src="https://media.istockphoto.com/id/1471725712/pl/zdj%C4%99cie/u%C5%9Bmiechni%C4%99ta-m%C5%82oda-kobieta-robi%C4%85ca-selfie-podczas-relaksu-w-domu.jpg?s=612x612&w=0&k=20&c=DpwCipMQ1I0jIfSkyjlgvxhpwNvzP37-UrAwswLjClQ=" />
                        <span class="join__nick">Chinaski</span>
                    </a>
                </div>
                <div data-window = "books" class="join__data">
                    <a href="#">
                    <img class="join__cover" src="https://s.lubimyczytac.pl/upload/books/5201000/5201943/1313324-352x500.jpg"/>
                    </a>
                    <a href="#">
                        <img class="join__cover" src="https://s.lubimyczytac.pl/upload/books/5201000/5201943/1313324-352x500.jpg" />
                    </a>
                    <a href="#">
                        <img class="join__cover" src="https://s.lubimyczytac.pl/upload/books/5201000/5201943/1313324-352x500.jpg" />
                    </a>
                    <a href="#">
                        <img class="join__cover" src="https://s.lubimyczytac.pl/upload/books/5201000/5201943/1313324-352x500.jpg" />
                    </a>
                    <a href="#">
                        <img class="join__cover" src="https://s.lubimyczytac.pl/upload/books/5201000/5201943/1313324-352x500.jpg" />
                    </a>
                    <a href="#">
                        <img class="join__cover" src="https://s.lubimyczytac.pl/upload/books/5201000/5201943/1313324-352x500.jpg" />
                    </a>
                    <a href="#">
                        <img class="join__cover" src="https://s.lubimyczytac.pl/upload/books/5201000/5201943/1313324-352x500.jpg" />
                    </a>
                    <a href="#">
                        <img class="join__cover" src="https://s.lubimyczytac.pl/upload/books/5201000/5201943/1313324-352x500.jpg" />
                    </a>
                    <a href="#">
                        <img class="join__cover" src="https://s.lubimyczytac.pl/upload/books/5201000/5201943/1313324-352x500.jpg" />
                    </a>
                    <a href="#">
                        <img class="join__cover" src="https://s.lubimyczytac.pl/upload/books/5201000/5201943/1313324-352x500.jpg" />
                    </a>
                </div>
                <div data-window = "leased" class="join__data">
                    <a href="#" class="join__leased">
                        <img class="join__cover--leased" src="https://s.lubimyczytac.pl/upload/books/5201000/5201943/1313324-352x500.jpg" />
                        <span class="join__book--title">HarryPotter</span>
                        <span>12.11.2025</span>
                    </a>
                    <a href="#" class="join__leased">
                        <img class="join__cover--leased" src="https://s.lubimyczytac.pl/upload/books/5201000/5201943/1313324-352x500.jpg" />
                        <span class="join__book--title">HarryPotter</span>
                        <span>12.11.2025</span>
                    </a>
                    <a href="#" class="join__leased">
                        <img class="join__cover--leased" src="https://s.lubimyczytac.pl/upload/books/5201000/5201943/1313324-352x500.jpg" />
                        <span class="join__book--title">HarryPotter</span>
                        <span>12.11.2025</span>
                    </a>
                    <a href="#" class="join__leased">
                        <img class="join__cover--leased" src="https://s.lubimyczytac.pl/upload/books/5201000/5201943/1313324-352x500.jpg" />
                        <span class="join__book--title">HarryPotter</span>
                        <span>12.11.2025</span>
                    </a>
                     <a href="#" class="join__leased">
                        <img class="join__cover--leased" src="https://s.lubimyczytac.pl/upload/books/5201000/5201943/1313324-352x500.jpg" />
                        <span class="join__book--title">HarryPotter</span>
                        <span>12.11.2025</span>
                    </a>
                </div>
            </div>
        </div>
    </section>
</main>
<script src="~/js/index.js" asp-append-version="true" defer></script>
<script src="~/js/Search.js" asp-append-version="true" defer></script>