@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  color: initial;
  font-family: "Oswald", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 200vh;
}

.wrapper {
  width: 100%;
  max-width: 1200px;
}

.header {
  position: sticky;
  top: 0px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border-bottom: 1px solid gray;
  max-height: 200px;
  transition: 0.2s;
  background-color: white;
  z-index: 5;
}
.header .header__head {
  display: flex;
  align-items: center;
  gap: 5px;
  grid-column: 1/span 2;
}
.header .header__head .header__logo {
  width: 60px;
}
.header .header__head .header__title {
  font-size: 27px;
  font-style: italic;
  color: rgb(0, 200, 255);
}
.header .header__form {
  position: relative;
  width: 100%;
  max-width: 400px;
  order: 3;
  justify-self: center;
  grid-column: 1/span 3;
}
.header .header__form .header__search {
  padding: 5px 30px 5px 10px;
  width: 100%;
  height: 45px;
  border: none;
  border-bottom: 2px solid black;
}
.header .header__form .header__search:focus {
  outline: none;
  border-bottom: 2px solid rgb(0, 200, 255);
}
.header .header__login {
  justify-self: end;
  border-left: 2px dashed rgb(0, 200, 255);
  padding-left: 10px;
  font-size: 17px;
  font-weight: 500;
  transition: 0.2s;
  cursor: pointer;
}
.header .header__login:hover {
  color: rgb(0, 200, 255);
}
.header .header__nav {
  display: flex;
  justify-content: center;
  gap: 15px;
  grid-column: 1/span 3;
  order: 4;
}
.header .header__nav .header__category {
  padding-bottom: 3px;
  border-bottom: 2px solid rgb(0, 200, 255);
  transition: 0.2s;
}
.header .header__nav .header__category:hover {
  color: rgb(0, 200, 255);
}
.header .header__user {
  display: flex;
  align-items: center;
  gap: 10px;
  order: 2;
  justify-self: flex-end;
}
.header .header__user .header__avatar {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50px;
}

.header__button {
  position: absolute;
  right: 8px;
  top: 10px;
  background-color: transparent;
  color: rgb(0, 200, 255);
  border: none;
  cursor: pointer;
}

.header__button--close {
  font-size: 25px !important;
}

.search {
  display: none;
  padding: 10px;
  position: fixed;
  width: 100%;
  background-color: white;
  left: 0px;
  top: 140px;
  height: 100%;
  z-index: 5;
}
.search .search__wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0px 10px 0px 10px;
  overflow: auto;
  max-height: 600px;
  width: 100%;
}
.search .search__wrapper .search__header {
  padding: 0px 20px 2px 0px;
  border-bottom: 2px solid rgb(0, 200, 255);
  width: fit-content;
  font-size: 18px;
}
.search .search__wrapper .search__results {
  display: flex;
  flex-direction: column;
  margin: 0px 10px 0px 10px;
}
.search .search__wrapper .search__results .search__result {
  display: flex;
  margin-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  border-bottom: 1px solid black;
}
.search .search__wrapper .search__results .search__result .result__image {
  width: 80px;
  height: 120px;
  object-fit: cover;
}
.search .search__wrapper .search__results .search__result .result__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 10px 0px 10px;
  width: 100%;
}
.search .search__wrapper .search__results .search__result .result__info .result__title {
  font-size: 16px;
  font-weight: bold;
}
.search .search__wrapper .search__results .search__result .result__info .result__bottom {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.search .search__wrapper .search__results .search__result .result__info .result__bottom .result__stats {
  display: flex;
  gap: 10px;
}
.search .search__wrapper .search__results .search__result .result__info .result__bottom .result__stats .result__stat {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.search .search__wrapper .search__results .search__result .result__info .result__bottom .result__stats .result__stat .result__icon {
  font-variation-settings: "FILL" 1;
  font-size: 18px;
  color: rgb(0, 200, 255);
}
.search .search__wrapper .search__results .search__result .result__info .result__bottom .result__stats .result__stat .result__rating {
  font-size: 14px;
}
.search .search__wrapper .search__results .search__result .result__info .result__bottom .result__author {
  font-size: 15px;
  border-bottom: 2px dashed rgb(0, 200, 255);
  padding-bottom: 3px;
  align-self: end;
}
.search .search__wrapper .search__results .search__result.user {
  align-items: center;
  gap: 10px;
}
.search .search__wrapper .search__results .search__result.user .result__image {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.search .search__wrapper .search__results .search__result.user .result__info {
  gap: 5px;
  padding: 0px;
}

.search.show {
  display: flex;
}

.header.active {
  max-height: 80px;
  overflow: hidden;
}

@media only screen and (min-width: 768px) {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    z-index: 6;
  }
  .header .header__form {
    order: 3;
  }
  .header .header__login {
    order: 4;
  }
  .header .header__nav {
    order: 2;
  }
  .header .header__user {
    order: 4;
  }
  .header.active {
    max-height: initial;
    overflow: initial;
  }
  .search {
    justify-content: center;
    top: 0px;
    padding: 0px;
    background-color: rgba(0, 0, 0, 0.2);
  }
  .search .search__wrapper {
    position: relative;
    top: 81px;
    justify-content: center;
    gap: 100px;
    flex-direction: row;
    margin: 0px;
    padding: 0px 10px 0px 10px;
    background-color: white;
    max-width: 1200px;
    width: 100%;
    height: fit-content;
  }
  .search .search__wrapper .search__results {
    width: 300px;
  }
  .search .search__wrapper .search__results .search__header {
    padding-top: 10px;
  }
  .search .search__wrapper .search__results .search__result:nth-last-child(-n+1) {
    margin-bottom: 10px;
  }
}
.footer {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid black;
  width: 100%;
  padding: 10px 10px 10px 10px;
  user-select: none;
}
.footer .footer__author:hover {
  transition: 0.2s;
  color: rgb(0, 200, 255);
}
.footer .footer__library {
  justify-self: center;
}

.forms {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 8;
  user-select: none;
}
.forms .forms__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0px 0px 18px 1px rgb(0, 0, 0);
}
.forms .forms__wrapper .forms__close {
  align-self: flex-end;
  transition: 0.2s;
  cursor: pointer;
}
.forms .forms__wrapper .forms__close:hover {
  color: rgb(0, 200, 255);
}
.forms .forms__wrapper .forms__header {
  display: flex;
  align-items: center;
  gap: 10px;
}
.forms .forms__wrapper .forms__header .forms__logo {
  width: 80px;
}
.forms .forms__wrapper .forms__header .forms__title {
  color: rgb(0, 200, 255);
  font-style: italic;
}
.forms .forms__wrapper .forms__list {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 10px 0px 10px 0px;
}
.forms .forms__wrapper .forms__list .forms__option {
  font-size: 18px;
  border-bottom: 2px solid black;
  padding: 0px 20px 5px 20px;
  width: 100%;
  text-align: center;
  transition: 0.2s;
  cursor: pointer;
}
.forms .forms__wrapper .forms__list .forms__option:hover {
  color: rgb(0, 200, 255);
}
.forms .forms__wrapper .forms__list .forms__option.show {
  border-bottom: 2px solid rgb(0, 200, 255);
  color: rgb(0, 200, 255);
}
.forms .forms__wrapper .forms__form {
  display: none;
  flex-direction: column;
  gap: 10px;
}
.forms .forms__wrapper .forms__form .forms__input {
  font-size: 19px;
  padding: 5px;
  width: 350px;
  height: 50px;
  border: none;
  border-bottom: 1px solid black;
  outline: none;
}
.forms .forms__wrapper .forms__form .forms__input:focus {
  border-bottom: 1px solid rgb(0, 200, 255);
}
.forms .forms__wrapper .forms__form .forms__submit {
  margin-top: 10px;
  padding: 10px;
  width: 200px;
  align-self: center;
  border: none;
  background-color: rgb(0, 200, 255);
  color: white;
  border-radius: 10px;
  transition: 0.2s;
  cursor: pointer;
}
.forms .forms__wrapper .forms__form .forms__submit:hover {
  color: rgb(0, 200, 255);
  background-color: white;
}
.forms .forms__wrapper .forms__form.show {
  display: flex;
}
.forms .forms__wrapper .forms__requirements {
  display: none;
  margin-top: 10px;
}
.forms .forms__wrapper .forms__requirements.show {
  display: flex;
  flex-direction: column;
}
.forms .forms__wrapper .forms__info {
  display: none;
  flex-direction: column;
  gap: 5px;
}
.forms .forms__wrapper .forms__info .forms__error {
  padding: 8px;
  text-align: center;
  background-color: rgba(255, 0, 0, 0.2);
  width: 200px;
  border: 1px solid red;
}
.forms .forms__wrapper .forms__info .forms__correct {
  margin-top: 5px;
  padding: 8px;
  text-align: center;
  background-color: rgba(0, 128, 0, 0.2);
  width: 200px;
  border: 1px solid green;
}
.forms .forms__wrapper .forms__info .forms__error:nth-child(1) {
  margin-top: 10px;
}
.forms .forms__wrapper .forms__info.show {
  display: flex;
}

.forms.show {
  display: flex;
}

.join {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 60px;
  background: url("../Images/new_account.png"), repeat;
  background-size: 200px;
  padding: 10px;
  height: 600px;
  user-select: none;
}
.join .join__us {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
  gap: 10px;
  background-color: white;
  padding: 10px;
  box-shadow: 0px 0px 20px 0px rgb(0, 0, 0);
}
.join .join__us .join__title {
  color: rgb(0, 200, 255);
  border-bottom: 2px solid black;
}
.join .join__us .join__button {
  padding: 10px;
  border: none;
  background-color: rgb(0, 200, 255);
  color: white;
  font-size: 17px;
  transition: 0.2s;
  cursor: pointer;
}
.join .join__us .join__button:hover {
  background-color: white;
  color: rgb(0, 200, 255);
}
.join .join__reviews {
  position: relative;
}
.join .join__reviews .join__review {
  position: relative;
  display: none;
  flex-direction: column;
  align-items: center;
  background-color: white;
  max-width: 400px;
  height: 260px;
  padding: 5px;
  box-shadow: 0px 0px 20px 0px rgb(0, 0, 0);
  transition: 0.4s;
  opacity: 0;
  transform: scale(0.8);
}
.join .join__reviews .join__review .join__image {
  position: absolute;
  top: -40px;
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 50px;
  border: 2px dashed rgb(0, 200, 255);
  padding: 2px;
  background-color: white;
}
.join .join__reviews .join__review .join__author {
  margin-top: 20px;
  border-bottom: 1px solid rgb(0, 200, 255);
  padding-bottom: 2px;
  font-size: 18px;
  font-weight: 500;
}
.join .join__reviews .join__review .join__description {
  text-align: center;
  padding: 10px;
}
.join .join__reviews .join__review .join__bottom {
  display: flex;
  align-items: center;
  gap: 10px;
  border-top: 2px dashed rgb(0, 200, 255);
}
.join .join__reviews .join__review .join__bottom .join__logo {
  width: 60px;
}
.join .join__reviews .join__review .join__bottom .join__site {
  font-size: 20px;
  color: rgb(0, 200, 255);
  font-weight: bold;
  font-style: italic;
}
.join .join__reviews .join__review.show {
  display: flex;
  z-index: 1;
  opacity: 1;
  transform: initial;
}
.join .join__reviews .join__review.left {
  top: 0px;
  position: absolute;
  display: flex;
  transform: translate(-50px, 0px) scale(0.8);
  z-index: 0;
  opacity: 1;
}
.join .join__reviews .join__review.right {
  top: 0px;
  position: absolute;
  display: flex;
  transform: translate(50px, 0px) scale(0.8);
  z-index: 0;
  opacity: 1;
}
.join .join__reviews .join__buttons {
  display: flex;
  justify-content: space-between;
}
.join .join__reviews .join__buttons .join__button {
  font-size: 50px;
  background-color: transparent;
  border: none;
  z-index: 3;
  cursor: pointer;
  transition: 0.2s;
}
.join .join__reviews .join__buttons .join__button.hide {
  visibility: hidden;
}
.join .join__reviews .join__button:hover {
  background-color: rgba(0, 200, 255, 0.2);
}

.join--profile .join__profile {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: white;
  padding: 20px;
  gap: 20px;
  box-shadow: 0px 0px 20px 0px rgb(0, 0, 0);
}
.join--profile .join__profile .join__header {
  display: flex;
  align-items: center;
  gap: 20px;
}
.join--profile .join__profile .join__header .join__picture {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 50%;
}
.join--profile .join__profile .join__header .join__panel {
  display: flex;
  flex-direction: column;
}
.join--profile .join__profile .join__header .join__panel .join__username {
  font-size: 20px;
  font-weight: bold;
}
.join--profile .join__profile .join__header .join__panel .join__stats {
  display: flex;
  gap: 10px;
}
.join--profile .join__profile .join__header .join__panel .join__stats .join__stat {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2px;
}
.join--profile .join__profile .join__header .join__panel .join__stats .join__stat .join__desc {
  border-top: 1px dashed rgb(0, 200, 255);
  font-size: 15px;
}
.join--profile .join__nav {
  display: flex;
}
.join--profile .join__nav .join__item {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid black;
  padding: 0px 10px 5px 10px;
  transition: 0.2s;
  cursor: pointer;
}
.join--profile .join__nav .join__item:hover {
  color: rgb(0, 200, 255);
}
.join--profile .join__nav .join__item.active {
  border-bottom: 2px solid rgb(0, 200, 255);
}
.join--profile .join__main {
  display: flex;
  justify-content: start;
  width: 100%;
}
.join--profile .join__main .join__data {
  display: none;
  justify-content: center;
  width: 100%;
  gap: 10px;
  max-width: 420px;
  flex-wrap: wrap;
  max-height: 300px;
  overflow: auto;
}
.join--profile .join__main .join__data .join__user {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.join--profile .join__main .join__data .join__user .join__avatar {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  object-fit: cover;
}
.join--profile .join__main .join__data .join__user:hover .join__nick {
  transition: 0.2s;
  color: rgb(0, 200, 255);
}
.join--profile .join__main .join__data .join__cover {
  width: 70px;
  transition: 0.2s;
}
.join--profile .join__main .join__data .join__leased {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  transition: 0.2s;
  padding: 2px 10px 2px 0px;
}
.join--profile .join__main .join__data .join__leased .join__cover--leased {
  width: 50px;
}
.join--profile .join__main .join__data .join__leased:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.join--profile .join__main .join__data .join__cover:hover {
  opacity: 0.8;
}
.join--profile .join__main .join__data.show {
  display: flex;
}

.section {
  padding: 10px;
}
.section .section__header {
  display: flex;
  justify-content: space-between;
  align-self: flex-start;
  width: 100%;
  align-items: center;
  border-bottom: 1px solid rgb(0, 200, 255);
}
.section .section__header .section__head {
  padding-left: 5px;
}
.section .section__header .section__more {
  padding: 0px 5px 0px 10px;
  border-left: 1px solid black;
  transition: 0.2s;
}
.section .section__header .section__more:hover {
  color: rgb(0, 200, 255);
}
.section .section__books {
  display: flex;
  gap: 10px;
  padding: 20px 0px 10px 0px;
  overflow: auto;
}
.section .section__books .section__book {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 160px;
  transition: 0.2s;
}
.section .section__books .section__book .section__bookHeader {
  position: relative;
}
.section .section__books .section__book .section__bookHeader .section__cover {
  height: 230px;
  object-fit: cover;
}
.section .section__books .section__book .section__bookHeader .section__rating {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  background-color: rgb(0, 200, 255);
  padding: 5px;
  position: absolute;
  bottom: -5px;
  right: 0px;
}
.section .section__books .section__book .section__bookHeader .section__rating .section__star {
  color: gold;
  font-variation-settings: "FILL" 1;
}
.section .section__books .section__book .section__bookHeader .section__rating .section__star {
  font-size: 20px;
}
.section .section__books .section__book .section__bookHeader .section__rating .section__rate {
  font-size: 15px;
}
.section .section__books .section__book .section__title {
  padding: 10px 0px 0px 8px;
  font-size: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 500;
  max-width: 160px;
}
.section .section__books .section__book .section__author {
  padding: 10px 8px 3px 5px;
  align-self: flex-end;
  font-size: 14px;
  border-bottom: 1px solid rgb(0, 200, 255);
}
.section .section__books .section__book:hover {
  transform: translateY(-10px);
}
.section .section__reviews {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0px 10px 0px;
  gap: 20px;
  overflow: auto;
}
.section .section__reviews .section__review {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-shrink: 0;
  gap: 5px;
  width: fit-content;
  user-select: none;
  border-bottom: 1px solid black;
  padding-bottom: 10px;
  width: 300px;
}
.section .section__reviews .section__review .section__avatar {
  width: 70px;
  height: 70px;
  border-radius: 50px;
  object-fit: cover;
}
.section .section__reviews .section__review .section__name {
  font-size: 17px;
  font-weight: bold;
  transition: 0.2s;
}
.section .section__reviews .section__review .section__name:hover {
  color: rgb(0, 200, 255);
}
.section .section__reviews .section__review .section__bookName {
  border-top: 1px solid rgb(0, 200, 255);
  border-bottom: 1px solid rgb(0, 200, 255);
  padding: 5px 0px 5px 0px;
  font-size: 15px;
  transition: 0.2s;
}
.section .section__reviews .section__review .section__bookName:hover {
  color: rgb(0, 200, 255);
}
.section .section__reviews .section__review .section__text {
  text-align: center;
  max-width: 300px;
}
.section .section__reviews .section__review .section__footer {
  border-top: 1px solid rgb(0, 200, 255);
  padding: 0px 5px 0px 5px;
}
.section .section__reviews .section__review .section__footer .section__rating {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5px;
}
.section .section__reviews .section__review .section__footer .section__rating .section__star {
  color: gold;
  font-variation-settings: "FILL" 1;
}
.section .section__categories {
  display: grid;
  align-content: center;
  gap: 10px;
  padding: 20px 0px 0px 0px;
}
.section .section__categories .section__category {
  font-size: 18px;
  padding: 10px;
  border-bottom: 1px solid rgb(0, 200, 255);
  box-shadow: 0px 3px 9px -3px rgb(0, 0, 0);
  background-color: white;
  transition: 0.2s;
}
.section .section__categories .section__category:hover {
  transform: translateY(-10px);
}

@media only screen and (min-width: 768px) {
  .join {
    flex-direction: row;
    justify-content: space-evenly;
  }
  .join .join__us {
    order: 2;
  }
  .join .join__reviews {
    order: 1;
  }
  .join .join__reviews .join__review.left {
    transform: translate(-100px, 0px) scale(0.8);
    z-index: 0;
  }
  .join .join__reviews .join__review.right {
    transform: translate(100px, 0px) scale(0.8);
    z-index: 0;
  }
  .section--reviews .section__reviews {
    flex-direction: row;
  }
  .section--reviews .section__reviews .section__review {
    border: none;
    border-left: 1px solid black;
    padding-left: 10px;
  }
  .section--reviews .section__reviews .section__review:nth-child(1) {
    border: none;
  }
  .section__categories {
    justify-content: center;
    grid-template-columns: 200px 200px 200px;
    gap: 20px !important;
  }
  .section__categories .section__category {
    width: 100%;
    text-align: center;
    box-shadow: 0px 3px 9px -3px rgb(0, 0, 0);
  }
}
