$color: rgb(0, 200, 255);
.footer {
    display:flex;
    justify-content:space-between;
    border-top: 1px solid black;
    width:100%;
    padding:10px 10px 10px 10px;
    user-select:none;
    .footer__author:hover {
        transition: .2s;
        color:$color;
    }
    .footer__library {
        justify-self:center;
    }
}