@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    color:initial;
    font-family: "Oswald", sans-serif;
}
$color: rgb(0, 200, 255);
body {
    display:flex;
    flex-direction:column;
    align-items:center;
}
.wrapper {
    width:100%;
    max-width:1200px;
}
.header {
    position: sticky;
    top: 0px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-bottom: 1px solid gray;
    max-height: 200px;
    transition: .2s;

    .header__head {
        display: flex;
        align-items: center;
        gap: 5px;
        grid-column: 1 / span 2;

        .header__logo {
            width: 60px;
        }

        .header__title {
            font-size: 27px;
            font-style: italic;
            color: $color;
        }
    }

    .header__form {
        position: relative;
        width: 100%;
        max-width: 400px;
        order: 3;
        justify-self: center;
        grid-column: 1 / span 3;

        .header__search {
            padding: 5px 30px 5px 10px;
            width: 100%;
            height: 45px;
            border: none;
            border-bottom: 2px solid black;
        }

            .header__search:focus {
                outline: none;
                border-bottom: 2px solid $color;
            }

    }

    .header__login {
        justify-self: end;
        border-left: 2px dashed $color;
        padding-left: 10px;
        font-size: 17px;
        font-weight: 500;
    }

    .header__nav {
        display: flex;
        justify-content: center;
        gap: 15px;
        grid-column: 1 / span 3;
        order: 4;

        .header__category {
            padding-bottom: 3px;
            border-bottom: 2px solid $color;
            transition: .2s;
        }

            .header__category:hover {
                color: $color;
            }
    }

}
.header__button {
    position: absolute;
    right: 8px;
    top: 10px;
    background-color: transparent;
    color: $color;
    border: none;
    cursor:pointer;
}
.header__button--close {
    font-size:25px !important;
}
.search {
    display:none;
    padding: 10px;
    position: fixed;
    width: 100%;
    background-color: white;
    left: 0px;
    top: 140px;
    height: 100%;

    .search__wrapper {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin: 0px 10px 0px 10px;
        overflow: auto;
        max-height: 600px;
        width: 100%;

        .search__header {
            padding: 0px 20px 2px 0px;
            border-bottom: 2px solid $color;
            width: fit-content;
            font-size: 18px;
        }

        .search__results {
            display: flex;
            flex-direction: column;
            margin: 0px 10px 0px 10px;

            .search__result {
                display: flex;
                margin-top: 10px;
                padding-bottom: 10px;
                width: 100%;
                border-bottom: 1px solid black;

                .result__image {
                    width: 80px;
                    height: 120px;
                    object-fit: cover;
                }

                .result__info {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    padding: 10px 10px 0px 10px;
                    width: 100%;

                    .result__title {
                        font-size: 16px;
                        font-weight: bold;
                    }

                    .result__bottom {
                        display: flex;
                        justify-content: space-between;
                        width: 100%;

                        .result__stats {
                            display: flex;
                            gap: 10px;

                            .result__stat {
                                display: flex;
                                flex-direction: column;
                                align-items: center;

                                .result__icon {
                                    font-variation-settings: 'FILL' 1;
                                    font-size: 18px;
                                    color: $color;
                                }

                                .result__rating {
                                    font-size: 14px;
                                }
                            }
                        }

                        .result__author {
                            font-size: 15px;
                            border-bottom: 2px dashed $color;
                            padding-bottom: 3px;
                            align-self: end;
                        }
                    }
                }
            }

                .search__result.user {
                    align-items: center;
                    gap: 10px;

                    .result__image {
                        width: 60px;
                        height: 60px;
                        border-radius: 50%;
                    }

                    .result__info {
                        gap: 5px;
                        padding: 0px;
                    }
                }
        }
    }
}
.search.show {
    display:flex;
}
.header.active {
    max-height:80px;
    overflow:hidden;
}
@media only screen and (min-width: 768px) {
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index:1;
        background-color:white;
        .header__form {
            order:3;
        }
        .header__login {
            order:4;
        }
        .header__nav {
            order: 2;
        }
    }
    .header.active {
        max-height:initial;
        overflow:initial;
    }
    .search {
        justify-content:center;
        top: 0px;
        padding: 0px;
        background-color: rgba(black, .2);

        .search__wrapper {
            position:relative;
            top:81px;
            justify-content: center;
            gap: 100px;
            flex-direction: row;
            margin: 0px;
            padding: 0px 10px 0px 10px;
            background-color: white;
            max-width:1200px;
            width:100%;
            height:fit-content;
            .search__results {
                width: 300px;
                .search__header {
                    padding-top:10px;
                }
                .search__result:nth-last-child(-n + 1) {
                    margin-bottom: 10px;
                }
            }
        }
    }
}