<link rel="stylesheet" href="~/css/Admin/Admin.css" />
@using (Html.BeginForm("Add", "Authors", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form" }))
{
	<div class="form__header">
		<h1 class="form__title">Add Author</h1>
		@Html.ActionLink("Back", "Index", "Authors", new { page = 1 }, new { @class = "form__back" })
	</div>
	@Html.TextBox("AuthorName", null, new { @class = "form__input", @placeholder = "Name" })
	@Html.TextBox("AuthorSurname", null, new { @class = "form__input", @placeholder = "Surname" })
	<label class="form__input form__input--file" for="Image">Upload Cover</label>
	<input type="file" name="Image" id="Image" accept="image/*" />
	<input type="submit" class="form__input submit" />
}